#arrow img {
  width: 120px;
  opacity: 0.5;
}

#arrow {
  position: absolute;
  top: 20px;
  left: 20px;
}

#arrow img:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

#content-box {
  width: 700px;
  height: 360px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  border-style: double;
  border-color: #AEAEAE;
  border-width: 5px;
}

#helen-pic {
  height: 340px;
  position: absolute;
  margin-top: 10px;
  margin-left: 12px;
}

#content {
  font-family: "Karla";
  position: absolute;
  width: 400px;
  height: 350px;
  right: 0;
  transform: translateX(-75%);
  overflow-y: scroll;
}
#content::-webkit-scrollbar {
    width: 6px;
    background-color: #D6D5D5;
    border-radius: 5px;
}
#content::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 5px;
}
#contact {
  display: flex;
  flex-direction: row;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin-top: 28px;
}

#contact img {
  width: 60px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 50%;
  margin-left: 20px;

}

#fb #ig #linkedin {
  display: inline-block;
}

#contact img:hover {
  opacity: 0.6;
}
